# Composer vendor
/vendor/

/bin/
/var/
/vendor/
/node_modules/  # si des modules JS sont présents dans backend

# Environnement
.env.local
.env.*.local
.env.prod
.env.dev
.env


# Logs & cache
/log/
cache/
sessions/

# PHPUnit
/phpunit.xml
/phpunit.xml.dist

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
