@import '../../shared/styles/theme.css';

.auth-box h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 26px;
}

.auth-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-logo img {
  width: 120px;
}

.auth-logo span {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}